:root {
  --Accent1: #09141d;
  /* var(--Accent1) */
  --Accent2: #091d0f;
  /* var(--text1) */


    --Text1: white;
  /* var(--Accent1) */
  --Text2: white;
  /* var(--text2) */
      
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;


}

body {
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-track {
  background: rgba(37, 37, 37, 0.26);
}

html {
  box-sizing: border-box;
  color: #555;
  font-size: 40px;
}

a {
  text-decoration: none;
}


/* The fixed Side */
.side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 51px;
  border-right: 1px dashed rgba(0, 0, 0, 0.192);

  color: rgba(0, 0, 0, 0.5);
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  font-size: 13px;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side:hover {
  color: rgb(0, 0, 0);

}

.side .side__inner .bottom .fa-instagram {
  color: inherit;
  font-size: 180%;
  padding-top: 5%;
  position: absolute;
}

.side .side__inner {
  position: relative;
  height: 95%;
  white-space: nowrap;

}

.side a {

  color: rgb(255, 255, 255);
  font-weight: 900;
  word-spacing: 0;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.side .top,
.side .bottom {
  position: absolute;
  left: 0;
  transform: rotate(-90deg) perspective(1px);
  transform-origin: 50px 50px;
  height: 40px;
  line-height: 59px;
  white-space: nowrap;
  word-spacing: 1.1rem;
}
.container {
  display: flex;
  
}
.ConLeft {
  flex: 1;
}

.selection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.ConRight {
  display: flex;
  align-items: center;
  margin-left: 55%;
  /* Adjust this value if needed */
}

.ConRight img {
  max-width:70%;
  height: auto;
  opacity: 1;
  mix-blend-mode:lighten;
}

.side .top {
  top: 25px;
  text-align: right;
  color: black;
}

.side .bottom {
  top: auto;
  bottom: 92px;
}

.side .bottom:hover a {
  color: #61885e;
}

.side .bottom:hover a:hover {
  color: #5fc258;
  font-size: 15px;
}

/*The first navigation */

.anchornav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.anchornav li {
  display: block;
}

.anchornav li::after {
  content: "";
  width: 1.3rem;
  display: block;
  height: 2px;
  background: black;
}

.anchornav li:last-child::after {
  display: none;
}

.anchornav a {
  display: block;
  padding: 1em 0;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.4px;
  color: inherit;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}

.anchornav a span {
  display: inline;
  padding: 0.5em 0 0;
  opacity: 0.3;
  letter-spacing: normal;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: none;
}

.anchornav a:hover {
  color: #569951;
  font-size: 14px;
}

.anchornav a:hover span {
  opacity: 100%;
  color: #1d0f0f;
}

/*The different sections*/
.fops {
  
}
.section {
  background: url('/images/Animated\ Shape\ \(3\).svg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#noisy {
  filter: url(#noise);
}

#filter {
  visibility: hidden;
}

.section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 60vh;
  width: 100%;
  align-content: center;
  padding: 20vh 50px 20vh 75px;

}

.section svg {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;

}

.section svg.bottom {
  bottom: 0;
  top: auto;
  fill: grey;

}

.section__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

::selection {
  background: #6fffff46;
  

}



.section.section--Main {

  background-color: var(--Accent2);

  color: var(--Text2);
}

.section.section--intro {
  background-color: var(--Accent1);
  color: var(--Text1);

}



.section.section--Studying {
  background-color: var(--Accent2);
  color: var(--Text2);
}

.section.section--Studying svg {
  fill: var(--Accent2)
}

.section.section--experience {
  background-color: var(--Accent1);
  color: var(--Text1);
}

.section.section--experience svg {
  fill: var(--Accent1);

}

.section.section--projects2 {
  background-color: var(--Accent1);
  color: var(--Text1);
}

.section.section--projects2 svg {
  fill: var(--Accent1);

}

.section.section--projects3 {
  background-color: var(--Accent2);
  color: var(--Text2);
}

.section.section--projects3 svg {
  fill: var(--Accent2);

}



.section.section--projects svg.bottom {
  top: auto;
  bottom: -50px;
}

.section.section--projects1 {
  background-color: var(--Accent2);
  color: var(--Text2);
}

.section.section--projects1 svg {
  top: -50px;
  fill: var(--Accent2);
}

.section.section--pepperhill svg {
  top: -50px;
  fill: #000000;
}

.section.section--Services svg {
  fill: white;
}

/*Text*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  margin: 0 0 1em;
  line-height: 1;
  letter-spacing: -1px;

}

h3 {
  text-align: justify;

}

@media (min-width: 30rem) {

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h5 {
    letter-spacing: -2px;

  }
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
  color: inherit;

}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
  border-bottom: 0.1875rem solid;
}

h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
  color: #fd5252;
}

h1,
.h1 {
  font-size: 1.2rem;

}

@media (min-width: 30rem) {

  h1,
  .h1 {
    font-size: 1.5rem;
  }
}

h2,
.h2 {
  font-size: 1.2rem;

}

@media (min-width: 30rem) {

  h2,
  .h2 {
    font-size: 1.5rem;
  }
}

.pre {

  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}

.pre span {
  font-size: 0.9em;
  margin-right: 0.4em;
  opacity: 0.5;
}

.pre:hover {
  opacity: 1;
}

p {
  font-size: 0.75rem;
  line-height: 1.4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media (min-width: 30rem) {
  p {
    font-size: 0.875rem;
  }
}

p a {
  font-weight: bold;
  color: inherit;
}

p a:hover {
  border-bottom: 0.1875rem solid;
}

.lead {
  display: block;
  font-size: 0.875rem;
  margin: 0;
  text-align: justify;
}

@media (min-width: 30rem) {
  .lead {
    font-size: 0.6rem;
  }
}

.projects {
  font-size: 0.75rem;
}

.projects.block {
  display: inline-block;
  width: 100%;
}

@media (min-width: 30rem) {
  .projects.block {
    width: 30%;
  }
}

.projects .link {
  display: block;
  margin: 2em 0 0 0;
  color: #555;
  letter-spacing: 2px;
  font-size: 12px;
}

.projects p {
  font-size: inherit;
  color: #343436;
  opacity: 0.7;
}


.typing-demo {
  width: 36.1ch;
  animation: typing 2s, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1em;
}

.text-content {
  flex: 1;
}

.studying-header-container {
  display: flex;
  align-items: center;
  /* Center the image vertically with the heading */
  margin-bottom: 20px;
  /* Space between heading/image and paragraph */
}

.studying-header-container h2 {
  margin-right: 20px;
  /* Space between heading and image */

}

.studying-image {
  display: flex;
  align-items: center;
  mix-blend-mode: lighten;
}

.studying-image img {
  max-width: 35%;
  height: auto;
  opacity: 0.8;
  margin-left: 25%;

  /* Adjust height as needed */
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}