@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
body{
    background-color: #333;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    color: #555;

  }
  
  a {
    text-decoration: none;
  }
  
:root {
    --color-1: #63b4f7;
    --color-2: #1e4eb470;
  }



  ::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #C6C6C6;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(37, 37, 37, 0.26);
  }
  
h1{
  font-size: 80px;
   text-align:center;
   color: white;
}

p {
    text-align:justify;
    color: white;
}
.timeline{
  position:relative;
  margin: 1px auto;

  width:1000px;
  box-sizing:border-box;
  
}


.box {
  border-radius: 20px;
  padding-top: 20px;
  position: relative;
  margin: 0 auto; 
  background-color: #59595931;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
   border-radius:10px;

  -moz-box-shadow: 5px 5px 5px #00000060;
  -webkit-box-shadow: 5px 5px 5px #00000060 ;
   box-shadow: 5px 5px 5px #00000060;
   
  width: 40%;
  height: 60px;


}

.box:hover {
  background-color: #595959;
}

.title {

  margin-top: 3%;
  margin-bottom: 50px;
}

.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#ffffff;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 10px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:35px;
  right:-6px;
  background: var(--color-1);
  border-radius:50%;
  box-shadow:0 0 0 3px var(--color-2);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:35px;
  left:-4px;
  background: var(--color-1);
  border-radius:50%;
  box-shadow:0 0 0 3px var(--color-2);
}
.timeline ul li h3{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding:0;
    margin:0;
    color: rgb(255, 255, 255);

}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:23px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:25px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background: var(--color-1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px var(--color-2);
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:25px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background: var(--color-1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px var(--color-2);
}
@media(max-width:1643px)
{
  .box {
    height: 110px;
  }
  
}

@media(max-width:1000px)
{
  .timeline{
    width:87%;
  }
}

@media(max-width:860px)
{
  .box {
    height: 150px;
  }
  
}

@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
    margin-left: 35px;

  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }

  .box {
    height: 160px;
  }
}

@media(max-width:350px){

  .box {
    height: 100px;
  }
}

/* The fixed Side */
.side {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 51px;
    border-right: 1px dashed rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.0875rem;
    font-size: 13px;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
  }
  
  
  .side:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .side .side__inner {
    position: relative;
    height: 100%;
    white-space: nowrap;
  }
  
  .side a {
    color: inherit;
    word-spacing: 0;
    transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
  }
  
  .side .top,
  .side .bottom {
    position: absolute;
    left: 0;
    transform: rotate(-90deg) perspective(1px);
    transform-origin: 50px 50px;
    height: 40px;
    line-height: 50px;
    white-space: nowrap;
    word-spacing: 1.1rem;
  }
  
  .side .top {
    top: 25px;
    text-align: right;
    color: rgb(255, 255, 255);
  }
  
  .side .bottom {
    top: auto;
    bottom: 75px;
  }
  
  .side .bottom:hover a {
    color: rgb(117, 117, 117);
  }
  
  .side .bottom:hover a:hover {
    color: rgba(255, 255, 255, 0.8);
  }


/*Text*/
h1, .h1, h2, .h2, h3, .h3, h4, .h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  margin: 0 0 1em;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 30rem) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h5 {
    letter-spacing: -2px;
  }
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h5 a {
  color: inherit;
}

h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h5 a:hover {
  border-bottom: 0.1875rem solid;
}

h1 span, .h1 span, h2 span, .h2 span, h3 span, .h3 span, h4 span, .h5 span {
  color: #fd5252;
}

h1, .h1 {
  font-size: 1.2rem;
}

@media (min-width: 30rem) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: 1.2rem;
}

@media (min-width: 30rem) {
  h2, .h2 {
    font-size: 2.5rem;
  }
}

.pre {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}

.pre span {
  font-size: 0.9em;
  margin-right: 0.4em;
  opacity: 0.5;
}

.pre:hover {
  opacity: 1;
}

p {
  font-size: 0.75rem;
  line-height: 1.4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 30rem) {
  p {
    font-size: 0.875rem;
  }
}

p a {
  font-weight: bold;
  color: inherit;
}

p a:hover {
  border-bottom: 0.1875rem solid;
}

.lead {
  display: block;
  font-size: 0.875rem;
  margin: 0;
  text-align: justify;
}



.side .side__inner .bottom .fa-instagram { 
  color: inherit;
   font-size: 150%;
  padding-top: 15%;

 }

 